section {
    margin: 0 auto;
    padding: 4em 1em;
    max-width: 40em;
}

.project-content {
    .project-name {
        font-size: 4rem;
        line-height: 1;
    }

    .project-image {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            height: 80%;
            background-color: black;
            z-index: -1;
        }

        img {
            border: 2px solid black;
        }
    }

    .project-skills {
        --gap: 0.75rem;

        .skill-icon{
            width: 1.75rem;     
        }
    }
}
