.description {
  padding-block: 4rem;

  .container {
    --flow: 2rem;
    max-width: 60em;
    margin: 0 auto;

    .title {
      font-size: 5rem;
      line-height: 1.1;
    }

    .techonologies > * {
      --flow: 0.5rem;
    }

    .technologies-container {
      --gap: 0rem;
    }

    .links {
      flex-wrap: wrap;
    }
  }
}

.responsive-images {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 3fr;

  max-width: 60em;
  margin: 2rem auto;

  column-gap: 1rem;
  row-gap: 2rem;

  :first-child {
    grid-column: span 2;
  }

  > .image {
    position: relative;
    border: 4px solid black;

    > img {
      width: 100%;
      // height: clamp(25em, 100vw, 45em);
      max-height: 45em;
      object-fit: cover;
      object-position: top center;
    }

    &[data-name=Desktop] > img {
      max-height: 35em;
    }

    &::before {
      content: attr(data-name);

      position: absolute;
      top: -2rem;

      color: white;
      mix-blend-mode: difference;
      font-family: var(--ff-accent);
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 90%;
    background: black;
  }
}

.paragraphs {
  margin: 2rem auto;
  max-width: 60em;
}

.gallery {
  position: relative;
  display: grid;
  gap: 1rem;

  margin: 2rem auto;
  max-width: 60em;

  > img {
    width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
    object-position: center top;

    border-block: 4px solid black;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 90%;
    // background: black;
  }
}

@media (min-width: 45em) {
  .gallery {
    grid-template-columns: 1fr 1fr;

    > img {
      border: 4px solid black;
    }

    &::before {
      background: black;
    }
  }
}
