/* Custom Properties */
:root {
    /* Colors */
    --clr-dark-900: black;
    --clr-dark-700: #2F2F2F;
    --clr-dark-400: #505050;

    --clr-light-100: #fff;

    /* Font Weight */
    --fw-light: 100;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    
    /* Font Family */
    --ff-main: 'Barlow Condensed', sans-serif;
    --ff-accent: 'Bungee', cursive;

    /* Padding */
    --wrapper-padding: 1.125rem;
}


/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--ff-main);
    color: var(--clr-dark-900);
    line-height: 1.6;
    background: white;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* General Styles */
html {
    scroll-behavior: smooth;
}

header,
.wrapper {
    padding: 0 var(--wrapper-padding);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flow-content > * + * {
    margin-top: var(--flow, 1rem);
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

@media (min-width: 45em) {
    :root {
        --wrapper-padding: 2rem;
    }
}

@media (min-width: 60em) {
    :root {
        --wrapper-padding: 4rem;
    }
}

.btn {
    position: relative;
    outline: 1px solid var(--clr-dark-900);

    a {
        display: inline-block;
        position: relative;
        padding: 0.075em 2.5em;
        
        color: var(--clr-light-100);
        mix-blend-mode: difference;
    }
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;

    display: block;
    background: var(--clr-dark-900);

    transition: width 250ms ease;
}

.btn.active,
.btn:is(:hover, :focus-within) {
    &::before {
        width: 100%;
    }
}

/* Header and Nav */

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 0.5em;
    background-color: white;

    font-size: 0.875rem;
}

.logo {
    color: var(--clr-dark-900);
    font-family: var(--ff-accent);
}

.logo span {
    font-family: var(--ff-main);
    font-weight: var(--fw-light);
}

.menu-btn {
    display: none;
}

.primary-navigation {
    --gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;

    background: var(--clr-light-100);

    font-family: var(--ff-accent);
}

@media (max-width: 60em) {
    .primary-navigation {
        --gap: 0;
        position: fixed;
        inset: 0 0 0 30%;
        border-left: 0.25rem solid var(--clr-dark-900);
        padding-top: 4rem;
        z-index: 1000;

        flex-direction: column;

        transform: translateX(100%);
        transition: transform 300ms ease;

        li {
        outline: none;

        a {
            padding: 0.5em 2em;
            width: 100%;
        }
        }

        li::before {
        width: 0;
        }

        &[data-visible="true"] {
        transform: translateX(0);
        }
    }

    .menu-btn {
        display: block;
        margin: 0;
        border: none;
        cursor: pointer;
        z-index: 9999;
        background: url('../icons/menu-btn.svg');
        background-repeat: no-repeat;
        background-size: cover;

        padding: 1em;

        &[aria-expanded="true"]{
        background-image: url(../icons/close.svg);
        }
    }
}

/* Reusable components */
.link {
    color: inherit;
}

.link::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    font: var(--fa-font-solid);
    content: '\f360';
    margin-left: 0.4rem;
}

.about-header-decoration {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 4rem;
        background-color: #CFCACA;
        width: calc(100% - 4rem);
        height: 1px;
    }
}

hr {
    background-color: var(--color);
    // background-color: red;
    height: 1px;
    border: 0;
} 

.links {
    --gap: 1rem;
    flex-wrap: wrap;
    row-gap: 0;
  
    a {
      color: inherit;
    }
  }

.hero {
    background-color: var(--clr-dark-900);
    color: var(--clr-light-100);

    .btn {
        background-color: white;
    }
}

.hero-content {
    margin: 0 auto;
    padding: 4em 1em;
    padding-top: 5.5em;
    max-width: 40em;

    h1 {
        font-size: 2rem;
        line-height: 1;
    }
}

.about-content {
    margin: 0 auto;
    padding: 4em 1em;
    max-width: 40em;

    .paragraphs {
        --flow: 0.75rem;
    }

    .skills-content {
        flex-wrap: wrap;

        .skill-icon {
            width: 1.8rem;
        }
    }

    .headshot-section {
        position: relative;
        padding-block: 4rem;
        justify-content: center;

        &::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            height: 50%;
            background-color: black;
            z-index: -1;
        }
        
        .headshot {
            width: 80%;
            aspect-ratio: 3/2;
            object-fit: cover;

            border: 2px solid black;
        }
    }
}

.projects {
    background-color: black;
} 

.projects-section {
    margin: 0 auto;
    max-width: 40em;
    padding: 4em 1em;

    color: white;
}

.projects-header-decoration {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5.5rem;
        background-color: #666666;
        width: calc(100% - 5.5rem);
        height: 1px;
    }
}

.projects-content {
    a {
        color: white;
    }

    .project {
        position: relative;
        z-index: 1;
        padding-block: 1rem;

        & > * {
            --flow: 0.75rem;
        }

        .project-name {
            line-height: 1;
        }

        .project-skills {
            --gap: 0.75rem;

            .skill-icon{
                width: 1.5rem;     
            }
        }
    }

    .project:not(:last-child) {
        border-bottom: 1px solid #666;
    }
}

/* Footer */
footer {
    margin: 0 auto;
    max-width: 40em;
    padding: 2em 1em;

    --flow: 0.25rem;

    .links {
        a {
            display: block;
        }
    }
}
